#main{
  background-color:#DB7093;
  padding:10px;
    border: 10px solid#DB7093 ;
    margin-right:auto
}
#name{
  background-color:#DB7093;\
  border: 5px solid white;
}
#name img{
  width:150px;
  
}
#header {
  background-color:#ECC5C0;padding:36px;
    border: 10px solid#DB7093 ;
    text-align:center
}

#center{
  background-color:#ECC5C0;
  border:10px solid#DB7093;
  text-align:center;
}
#iyv{
  marign:0 auto;
 display:flex;
  justify-content:center;
 border:10px solid#DB7093;
}
#Pics{
 width:300px;
  height:350px;
  display:flex;
  justify-content:center;
}

body
{
  background-color:#ECC5C0;
}
footer {
  background-color:#ECC5C0;
  text-align:center;
}